@font-face {
    font-family: Figtree-variable;
    src: url('/assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: Figtree-italic;
    src: url('/assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: Figtree-ExtraBold;
    src: url('/assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: Figtree-SemiBold;
    src: url('/assets/fonts/static/Figtree-SemiBold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Figtree;
}

:root {
    --border-radius: 1rem;
    --button-radius: 5px;
    --yellow: hsl(47, 88%, 63%);
    --black: hsl(0, 0%, 7%);
    --grey: hsl(0, 0%, 50%)
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--black);
}

main {
    background-color: var(--yellow);
    width: 1440px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card {
    background-color: (0, 0%, 100%);
    width: 380px;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    flex-direction: column;
    border-radius: var(--border-radius);
    gap: 0.6rem;
    border: 1px solid var(--black);
    box-shadow: 9px 9px 0px 0px var(--black);
}

.card img {
    border-radius: var(--border-radius);

}

.article {
    margin-bottom: 1rem;
}

.button {
    background-color: var(--yellow);
    width: 25%;
    border: none;
    border-radius: var(--button-radius);
    padding: 6px;
    font-size: 16px;
    text-align: center;
    font-family: Figtree-ExtraBold;
    margin-bottom: 1rem;
}

.date {
    font-weight: 500;
    font-family: Figtree-SemiBold;
}

.attribution {
    display: none;
}

.image-avatar {
    width: 11%;
    margin-right: 15px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    align-self: center;
}

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title {
    font-size: 24px;
    font-family: Figtree-ExtraBold;
}

.text {
    color: var(--grey);
    line-height: 30px;
    font-family: Figtree-variable;
    margin-bottom: 1rem;
}



.name {
    font-weight: bold;
    font-size: 14px;
    font-family: Figtree-ExtraBold;
}

@media screen and (max-width: 375px) {
    .button {
        font-size: small;
    }

    .text {
        line-height: 25px;
        font-size: 14px;
    }

    .title {
        font-size: 20px;
    }

    .card {
        width: 100%;
        margin: 0 1.5rem;
    }
}